Part2/ebayAppServer/WebContent/wsdl/AddItem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addItem">
    <complexType>
     <sequence>
      <element name="sql" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addItemResponse">
    <complexType>
     <sequence>
      <element name="addItemReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addItemRequest">

      <wsdl:part element="impl:addItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addItemResponse">

      <wsdl:part element="impl:addItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AddItem">

      <wsdl:operation name="addItem">

         <wsdl:input message="impl:addItemRequest" name="addItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:addItemResponse" name="addItemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddItemSoapBinding" type="impl:AddItem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AddItemService">

      <wsdl:port binding="impl:AddItemSoapBinding" name="AddItem">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/AddItem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
