Part2/ebayAppServer/WebContent/wsdl/GetItem.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getItem">
    <complexType>
     <sequence>
      <element name="sql" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getItemResponse">
    <complexType>
     <sequence>
      <element name="getItemReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getItemRequest">

      <wsdl:part element="impl:getItem" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getItemResponse">

      <wsdl:part element="impl:getItemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetItem">

      <wsdl:operation name="getItem">

         <wsdl:input message="impl:getItemRequest" name="getItemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getItemResponse" name="getItemResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetItemSoapBinding" type="impl:GetItem">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getItem">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getItemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getItemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetItemService">

      <wsdl:port binding="impl:GetItemSoapBinding" name="GetItem">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/GetItem"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
