Part2/ebayAppServer/WebContent/wsdl/GetUserBuys.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getuserbuys">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getuserbuysResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getuserbuysReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getuserbuysRequest">

      <wsdl:part element="impl:getuserbuys" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getuserbuysResponse">

      <wsdl:part element="impl:getuserbuysResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetUserBuys">

      <wsdl:operation name="getuserbuys">

         <wsdl:input message="impl:getuserbuysRequest" name="getuserbuysRequest">

       </wsdl:input>

         <wsdl:output message="impl:getuserbuysResponse" name="getuserbuysResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetUserBuysSoapBinding" type="impl:GetUserBuys">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getuserbuys">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getuserbuysRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getuserbuysResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetUserBuysService">

      <wsdl:port binding="impl:GetUserBuysSoapBinding" name="GetUserBuys">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/GetUserBuys"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
