Part2/ebayAppServer/WebContent/wsdl/GetUserSells.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getusersells">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getusersellsResponse">
    <complexType>
     <sequence>
      <element name="getusersellsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getusersellsRequest">

      <wsdl:part element="impl:getusersells" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getusersellsResponse">

      <wsdl:part element="impl:getusersellsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetUserSells">

      <wsdl:operation name="getusersells">

         <wsdl:input message="impl:getusersellsRequest" name="getusersellsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getusersellsResponse" name="getusersellsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetUserSellsSoapBinding" type="impl:GetUserSells">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getusersells">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getusersellsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getusersellsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetUserSellsService">

      <wsdl:port binding="impl:GetUserSellsSoapBinding" name="GetUserSells">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/GetUserSells"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
