Part2/ebayAppServer/WebContent/wsdl/Register.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reg">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="location" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="regResponse">
    <complexType>
     <sequence>
      <element name="regReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="regResponse">

      <wsdl:part element="impl:regResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="regRequest">

      <wsdl:part element="impl:reg" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Register">

      <wsdl:operation name="reg">

         <wsdl:input message="impl:regRequest" name="regRequest">

       </wsdl:input>

         <wsdl:output message="impl:regResponse" name="regResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegisterSoapBinding" type="impl:Register">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reg">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="regRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="regResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegisterService">

      <wsdl:port binding="impl:RegisterSoapBinding" name="Register">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/Register"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
