Part2/ebayAppServer/WebContent/wsdl/SubmitCart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="submitCart">
    <complexType>
     <sequence>
      <element name="updateSql" type="xsd:string"/>
      <element name="insertSql" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="submitCartResponse">
    <complexType>
     <sequence>
      <element name="submitCartReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="submitCartRequest">

      <wsdl:part element="impl:submitCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="submitCartResponse">

      <wsdl:part element="impl:submitCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SubmitCart">

      <wsdl:operation name="submitCart">

         <wsdl:input message="impl:submitCartRequest" name="submitCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:submitCartResponse" name="submitCartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SubmitCartSoapBinding" type="impl:SubmitCart">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="submitCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="submitCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="submitCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SubmitCartService">

      <wsdl:port binding="impl:SubmitCartSoapBinding" name="SubmitCart">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/SubmitCart"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
