Part2/ebayAppServer/WebContent/wsdl/User.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebayAppServer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebayAppServer" xmlns:intf="http://ebayAppServer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebayAppServer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getUserInfo">
    <complexType>
     <sequence>
      <element name="userid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUserInfoResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUserInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserInfoResponse">

      <wsdl:part element="impl:getUserInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUserInfoRequest">

      <wsdl:part element="impl:getUserInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="User">

      <wsdl:operation name="getUserInfo">

         <wsdl:input message="impl:getUserInfoRequest" name="getUserInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUserInfoResponse" name="getUserInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserSoapBinding" type="impl:User">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUserInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserService">

      <wsdl:port binding="impl:UserSoapBinding" name="User">

         <wsdlsoap:address location="http://localhost:8080/ebayAppServer/services/User"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
